.skill {
    background-color: black;
    background-image: url('./assets/img-7.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    /* opacity: 0.1; */
    height: 100%;
    padding-bottom: 11%;
  }
.title {
    padding-top: 10px;
    color: #adadad; 
}
.education-content {
  margin-bottom: 10%;
}
.skill {
  color: white;
}
.skill-list{
  font-size: 28px;
  padding: 0.5rem 1rem;
}
